# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle and build files
.idea/
.gradle
build/

# This drectory below can be used to store temporary pull requests body files if a developer want to use the
# GitHub Cli to make pull requests. It is added here so a developer can store a body file in the project
# without committing the file to the project by mistake.
.pr

# Local files for developer that override parts of the pipeline
.pipeline
